name: Create a release when a tag is pushed

on:
  push:
    tags:
      - 'v*'  # Push events matching v*, i.e. v1, v20

  # Allow running this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    container:
      image: registry.access.redhat.com/ubi8

    steps:
      - name: Install dependencies
        run: |
          dnf install -y dotnet-sdk-6.0 git make

      - uses: actions/checkout@v2

      - name: Run tests and publish binaries
        run: |
          set -euo pipefail
          # work-around actions/checkout losing annotation information: https://github.com/actions/checkout/issues/290
          git fetch -f origin ${{ github.ref }}:${{ github.ref }}
          make check
          make publish

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: release-binaries
          path: bin/turkey

  release:
    name: Create Release
    runs-on: ubuntu-latest

    needs: Build

    steps:

      - name: Download build artifacts
        uses: actions/download-artifact@v2
        with:
          name: release-binaries

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Version ${{ github.ref }}
          body: |
            Changes in this Release
            - First Change
            - Second Change
          draft: true
          prerelease: false

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: turkey
          asset_name: turkey
          asset_content_type: application/octet-stream

      - name: Upload Release Asset (x86_64)
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: turkey
          asset_name: turkey-x86_64
          asset_content_type: application/octet-stream
